@model string
@{
    ViewBag.Title = @Localizer["Title"];
}

<div class="login">
    <div class="form-column">
        <hgroup>
            <h2>@Localizer["UnlockUserSuccess"]</h2>
        </hgroup>
        <ul class="action">
            <li><a href="~/" class="btn-primary w-100">@Localizer["Ok"]</a></li>
        </ul>
    </div>
</div>
