@model string
@{
    ViewBag.Title = @Localizer["Title"];
}

<div class="login">
    <div class="form-column">
        <hgroup>
            <h2>@Localizer["UnlockUserError"]</h2>
        </hgroup>
        <div class="action margin=10">
                <a href="~/" class="btn-primary btn-lg">@Localizer["Ok"]</a>
        </div>
    </div>
</div>
