@model string
@{
    ViewBag.Title = @Localizer["Title"];
    ViewBag.UseAuthBackground = true;
}

<div class="login login-view restore-done-view">
    <div class="login-header-plate">
        <img src="~/@Settings.CompanySettings.LogoUrl" alt="logo" class="login-header-logo" />
        <span class="login-header-title">@SharedLocalizer["Ssp"]</span>
    </div>
    <div class="form-column login-form-card restore-done-card">
        <h2 class="login-title restore-done-title">@Localizer["Title"]</h2>
        <p class="restore-done-description">@Html.Raw(Model)</p>
    </div>
</div>
