<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Localizer["Title"]</title>
</head>
<body>
    <hgroup>
        <h1>@Localizer["SomethingWentWrong"]</h1>
        <h2>@Html.Raw(Localizer.GetString("Generic"))</h2>
    </hgroup>
</body>
</html>
