<div class="login">
    <div class="form-column">
        <h2>@Localizer["SessionExpiredTitle"]</h2>
        <p>@Localizer["SessionExpiredDetails"]</p>
        <ul class="action">
            <li>
                <a href="@Url.Action("Index", "Home")" class="center-button btn-primary w-100">
                    @Localizer["SessionExpiredButton"]
                </a>
            </li>
        </ul>
    </div>
</div>