@using MultiFactor.SelfService.Linux.Portal.Core
@inject ContentCache cache;

@{
    var reqs = cache.GetLines(ContentCategory.PasswordRequirements);
}

@if (reqs.Length == 0)
{
    <p>@Localizer["InvitationShort"]</p>
}
else
{
    <p>@Localizer["Invitation"]</p>
    <ul class="list">
        @foreach (var req in reqs)
        {
            <li>@req</li>
        }
    </ul>
}