<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Error.Title</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.Error.SomethingWentWrong</h1>
        <h2>@Html.Raw(Resources.Error.Generic)</h2>
    </hgroup>
</body>
</html>
