@model MultiFactor.SelfService.Windows.Portal.Services.Token

@{
    ViewBag.Title = string.Format(Resources.Global.SiteName, Configuration.Current.CompanyName);
}

@{
    var botName = "MultifactorBot";
}

<div class="block">
    <div class="container">
        <div class="info">
            <p>@Resources.Telegram.Header</p>

            <p>@Html.Raw(string.Format(Resources.Telegram.Instruction1, botName, Model.Id))</p>
            <p>@Html.Raw(Resources.Telegram.Instruction2)</p>

            <br />

            <div id="qrcode"></div>
            <br />
            <br />

            <ul class="action">
                <li><a href="~/" class="btn">@Resources.Telegram.Ok</a></li>
            </ul>
        </div>

    </div>
</div>

<script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), "tg://resolve?domain=@botName&start=@Model.Id");
</script>

@section head
{
    <script src="~/Content/js/qrcode.min.js"></script>
}