@model MultiFactor.SelfService.Linux.Portal.Integrations.MultiFactorApi.Dto.BypassPageDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@SharedLocalizer.GetString("PleaseWait")</title>
</head>
<body>
    <form method="post" action="@Model.CallbackUrl">
        <input type="hidden" name="accessToken" value="@Model.AccessToken" />
    </form>
    <script type="text/javascript">
        document.forms[0].submit();
    </script>
</body>
</html>
