@{
    ViewBag.Title = string.Format(Resources.Global.SiteName, Configuration.Current.CompanyName);
}
<div class="block">
    <div class="container">
        <ul class="action">
            <li><a href="~/" class="btn">@Resources.Global.Enter</a></li>
        </ul>
    </div>
</div>