<div class="login">
    <div class="form-column">
        <h2>@Localizer["Title"]</h2>
        <p>
            @Localizer["Info"]
        </p>
        <ul class="action">
            <li><a href="~/" class="btn-primary w-100">@Localizer["Ok"]</a></li>
        </ul>
    </div>
</div>